

<div class="container">
    <h2> Técnico en Procesamiento de Alimentos</h2>
      <div class="card">
        <div class="card-header">
          Objetivo General
        </div>
        <div class="card-body">
          <p class="card-text">El Técnico en Alimentos aplicará las técnicas de recepción de materias primas, empleando normas de higiene y 
              seguridad para prolongar su vida en anaquel, así como técnicas de refrigeración de embutidos, congelación y cocción de alimentos 
              en general.</p>
         
        </div>
      </div>
    
    
      <hr>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header"><strong>Misión</strong></div>
                        <div class="card-body">
                            <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis minus dignissimos ipsam,
                     praesentium dolores tempora nostrum ad et corporis, ab, delectus quia voluptatem blanditiis eaque! 
                     Reiciendis quod natus cumque aliquam.
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header"><strong>Visión</strong></div>
                        <div class="card-body">
                            <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quia maiores rem harum hic
                   dolorum eaque vel repellendus autem ullam quibusdam quasi, aperiam asperiores quaerat quisquam corrupti soluta cupiditate quam!
                        </p>
                        </div>
                    </div>
                </div>
            </div>
      
    
    
    </div>