        <!-- Header Area Start -->
		<header class="top">
		    <div class="header-top">
		        <div class="container">
		            <div class="row">
		                <div class="col-md-8 col-sm-8 col-xs-12">
		                    <div class="header-top-left">
		                        <p>Centro de Estudios Tecnológicos de Mar No. 01 Alvarado, Veracruz.</p>
		                    </div>
		                </div>
		                <div class="col-md-4 col-sm-4 col-xs-12">
		                    <div class="header-top-right text-right">
		                        <ul>
		                            <li><a href="login.html">Iniciar Sesión</a></li>
		                            <li><a href="signup.html">Registro</a></li>
		                        </ul>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
           
		</header>




        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <img src="/assets/img/cetmar-logo.png" width="100px" height="24" />
                  </a>
             
              <button class="navbar-toggler" type="button" 
              data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
              aria-controls="navbarSupportedContent" aria-expanded="false" 
              aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                 
                    <li class="nav-item dropdown">
                        <a class="nav-link"  routerLinkActive="active"
                        routerLink="home" id="navbarDropdown"
                         role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          INICIO
                        </a>
                      </li>
              
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                     role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      NOSOTROS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" routerLink="nosotros/mision">Misión</a></li>
                      <li><a class="dropdown-item" routerLink="nosotros/vision">Visión</a></li>
                      <li><a class="dropdown-item" routerLink="nosotros/historia">Historia</a></li>
                      <li><a class="dropdown-item" routerLink="nosotros/directorio">Directorio</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" routerLink="nosotros/croquis">Croquis</a></li>
                    </ul>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                     role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      CARRERAS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" routerLink="carreras/acuacultura">Acuacultura</a></li>
                      <li><a class="dropdown-item" routerLink="carreras/administracion">Administración</a></li>
                      <li><a class="dropdown-item" routerLink="carreras/alimentos">Alimentos</a></li>
                      <li><a class="dropdown-item" routerLink="carreras/electronica">Electrónica</a></li>
                      <li><a class="dropdown-item" routerLink="carreras/mecanica">Mecánica Naval</a></li>
                      <li><a class="dropdown-item" routerLink="carreras/pesca">Pesca Deportiva</a></li>
                      <li><a class="dropdown-item" routerLink="carreras/refrigeracion">Refrigeración</a></li>
                    </ul>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                     role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      ALUMNOS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" routerLink="alumnos/reglamento">Reglamento Escolar</a></li>
                      <li><a class="dropdown-item"routerLink="alumnos/horario">Horarios</a></li>
                      <li><a class="dropdown-item" routerLink="alumnos/becas">Becas</a></li>
                      <li><a class="dropdown-item" routerLink="alumnos/tutoria">Tutorías</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" routerLink="alumnos/construyt">Construy-T</a></li>
                      <li><a class="dropdown-item" routerLink="alumnos/calendario">Calendario</a></li>
                    </ul>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                     role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      PERSONAL
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" routerLink="personal/equipo">Nuestro Equipo</a></li>
                      <li><a class="dropdown-item" routerLink="personal/administrativos">Administrativos</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" routerLink="personal/maestros">Maestros</a></li>
                      <li><a class="dropdown-item" routerLink="personal/reforma">Reforma</a></li>
                    </ul>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                     role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      CONTROL ESCOLAR
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" routerLink="controlescolar/servicios">Servicios</a></li>
                      <li><a class="dropdown-item" routerLink="controlescolar/titulacion">Titulación</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" routerLink="controlescolar/normas">Normas y Reglamentos</a></li>
                      <li><a class="dropdown-item" routerLink="controlescolar/siseems">SISEEMS</a></li>
                    </ul>
                  </li>

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                     role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      VINCULACIÓN
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" routerLink="vinculacion/serviciosocial">Servicio Social</a></li>
                      <li><a class="dropdown-item"  routerLink="vinculacion/convenios">Convenios De Colaboración</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item"  routerLink="vinculacion/seguimientoegresados">Seguimiento de Egresados</a></li>
                      <li><a class="dropdown-item"  routerLink="vinculacion/bolsa">Bolsa de Trabajo</a></li>
                    </ul>
                  </li>
                 
                </ul>
               
              </div>
            </div>
          </nav>

       