

<div class="container">
    <h2> Técnico en Electrónica</h2>
      <div class="card">
        <div class="card-header">
          Objetivo General
        </div>
        <div class="card-body">
          <p class="card-text">El Técnico en Electrónica realizará mantenimiento preventivo y correctivo a sistemas de control industrial
               que contienen PLC o PICs, así como también sistemas de comunicación, televisión y radio. Diagnosticar fallas en sistemas básicos de electricidad y 
               electrónica, operar instrumentos de medición e interpretar diagramas electrónicos y simularlos por computadora..</p>
         
        </div>
      </div>
    
      <hr>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header"><strong>Misión</strong></div>
                        <div class="card-body">
                            <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis minus dignissimos ipsam,
                     praesentium dolores tempora nostrum ad et corporis, ab, delectus quia voluptatem blanditiis eaque! 
                     Reiciendis quod natus cumque aliquam.
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header"><strong>Visión</strong></div>
                        <div class="card-body">
                            <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quia maiores rem harum hic
                   dolorum eaque vel repellendus autem ullam quibusdam quasi, aperiam asperiores quaerat quisquam corrupti soluta cupiditate quam!
                        </p>
                        </div>
                    </div>
                </div>
            </div>
      
    
    
    </div>