<h2 align="center"mb-2> Oferta Académica</h2>

<div class="service-area two pt-50 pb-10">

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-service">
                    <h3><a routerLink="../carreras/acuacultura">Técnico en Acuacultura</a></h3>
                    <p>El Técnico en Acuacultura se ocupa de atender y manejar los factores ambientales de cultivo, producir alimentos vivos para etapas tempranas de desarrollo de cultivos principales, así como construir y operar sistemas de cultivo principales, así como construir y operar sistema de cultivo, reproducir organismos acuáticos de importancia comercial.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-service">
                    <h3><a routerLink="../carreras/administracion">Técnico en Administración de Recursos Humanos</a></h3>
                    <p>El Técnico en Administración deberá organizar las funciones básicas de oficina con eficiencia y eficacia para el mejor aprovechamiento de los recursos materiales, aplicando conocimientos y habilidades en el manejo de nuevas tecnologías de la comunicación en la oficina, usando métodos y procedimientos para la gestión administrativa.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-service">
                    <h3><a routerLink="../carreras/alimentos">Técnico en Procesamiento de Alimentos</a></h3>
                    <p>El Técnico en Alimentos aplicará las técnicas de recepción de materias primas, empleando normas de higiene y seguridad para prolongar su vida en anaquel, así como técnicas de refrigeración de embutidos, congelación y cocción de alimentos en general.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="service-area two  pb-10">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-service">
                    <h3><a routerLink="../carreras/electronica">Técnico en Electrónica</a></h3>
                    <p>El Técnico en Electrónica realizará mantenimiento preventivo y correctivo a sistemas de control industrial que contienen PLC o PICs, así como también sistemas de comunicación, televisión y radio. Diagnosticar fallas en sistemas básicos de electricidad y electrónica, operar instrumentos de medición e interpretar diagramas electrónicos y simularlos por computadora.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-service">
                    <h3><a routerLink="../carreras/mecanica">Técnico en Mecánica Naval</a></h3>
                    <p>El Técnico en Mecánica aplicará las técnicas de mantenimiento preventivo y correctivo a motores fuera de borda, motores de combustión interna, empleará de forma adecuada herramientas, manuales e instrumentos de medición y primeros auxilios.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single-service">
                    <h3><a routerLink="../carreras/pesca">Técnico en Pesca Deportiva</a></h3>
                    <p>El Técnico en Pesca Deoportiva y Buceo, deberá operar embarcaciones con motor fuera de borda, motores estacionarios, operar equipos de buceo, equipos de pesca deportiva y guiar el buceo.</p>
                </div>
            </div>

        </div>
    </div>
</div>

    <div class="service-area two  pb-50">
    <div align="center" class="container">
        <div class="row">
       <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="single-service">
                    <h3><a  routerLink="../carreras/refrigeracion">Técnico en Refrigeración y Climatización</a></h3>
                    <p>El Técnico en Refrigeración y Aire Acondicionado, deberá efectuar mantenimiento a sistemas de refrigeración con visión integradora, aplicando habilidades y conocimientos para realizar servicios a diferentes sistemas de refrigeración.</p>
                </div>
            </div>
        </div>
    </div>
</div>

