<div class="container">
    <h2>Titulación</h2>
    <hr>
      <div class="card">
        <div class="card-header">
         AQUI VA ALGO
        </div>
        <div class="card-body">
          <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus repellat nobis quod dolor animi 
              quas atque iure explicabo enim fugit deserunt, tempore nihil! Assumenda, possimus. Quae dolorum asperiores esse corporis.</p>
         
        </div>
      </div>
</div>    