


<div class="banner-area-wrapper">
  <div class="banner-area text-center">   
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <div class="banner-content-wrapper">
                      <div class="banner-content">
                          <h2>Aqui van las fotos los maestros</h2> 
                      </div> 
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>    
<!-- Banner Area End -->
<!-- Teacher Start -->
<div class="teacher-area pt-150 pb-105">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">ALONSO ZAMUDIO ANGEL GUSTAVO </a></h2>
                      <h4>Profesor Asociado C</h4>
                      <ul>
                          <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                          <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">ALVAREZ VERA MARIA IRASEMA</a></h2>
                      <h4>Profesor Asociado C</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">ALVAREZ VERA ROSALIA</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">ANTONIO VENTURA GRISELDA </a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">CANO AVALOS JONATHAN</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">CANO PEREZ LUIS</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">CANO CAMPOS SERGIO</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">CEPEDA HERNANDEZ ANGELITA DE JESUS</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">CHAVEZ ROMAN</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">CORRO VALENCIA ANGELY</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">CRUZ TRINIDAD FRANCISCO JAVIER</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">CRUZ FIGUEROA JOSE DE JESUS</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">ENRIQUEZ USCANGA LUIS ALFREDO</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">ESTRADA VARGAS BERENICE</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">FIGUEROA ROMAN PEDRO SADID</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">GALLARDO DIAZ BENIGNO</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">GARCIA MORENO RUBEN JORGE</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">GIRON MORALES YARAVI</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">GOMEZ MORALES HAYDEE</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">GRANDA YEPEZ FELIPE</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">GRIJALVA HERRERA DIEGO</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">HERMIDA BLANCO CARLOS EDUARDO</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">HERNANDEZ GONZALEZ RODOLFO</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">HIDALGO ZAMORA MAURO</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">JIMENEZ ROJAS GUILLERMETT</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">JIMENEZ VAZQUEZ MARIA LUISA</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">LEON ANTONIO MICHELLE DE JESUS</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">LOPEZ MARQUEZ VICTOR</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">MALDONADO ZULAICA OLGA</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">MARTINEZ RAMON LUIS FERNANDO</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">MORA USCANGA MARTIN</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">OCHOA MOJICA PAUL</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">OLIVERA TAXILAGA VIVIANA DEL ROSARIO</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">PASTRANA CRUZ KAREN BERENICE</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">PEÑALOSA RIVERA ROBERTO</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">PRIETO DELGADO JOSE ANGEL</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">ROJAS GUTIERREZ SANDRA PATRICIA</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">RUIZ HERNANDEZ DERIK AGUSTIN</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">SANTIAGO CHAVEZ FABIOLA</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">SEDAS RAMIREZ NINFA ELIZABETH</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">SILVA CRUZ YADIRA</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">TIBURCIO FIGUEROA MATILDE</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">TORRES HOLGUIN HERIBERTO</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">TRINIDAD HERNANDEZ AZAEL</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">VICTORIA SANCHEZ HAYDEE</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">VILLALOBOS DE LA CRUZ JAZMIN HAIDEE</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">ZAMUDIO HERNANDEZ JUAN</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-4 col-xs-12">
              <div class="single-teacher mb-45">
                  <div class="single-teacher-img">
                      <a href="teacher-details.html"><img src="assets/maestros/teacher12.jpg" alt="teacher"></a>  
                  </div>
                  <div class="single-teacher-content text-center">
                      <h2><a href="teacher-details.html">ZAMUDIO SANTOS LUCIO</a></h2>
                      <h4>Associate Professor</h4>
                      <ul>
                        <li><a href="https://www.facebook.com/devitems/?ref=bookmarks"><i class="bi bi-facebook"></i></a></li>
                        <li><a href="https://twitter.com/devitemsllc"><i class="bi bi-twitter"></i></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>