<!-- Footer Start -->
<footer class="footer-area">
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-widget pr-60">
                        <div class="footer-logo pb-25">
                            <a href="index.html"><img src="assets/img/cetmar-logo.png" alt="eduhome"></a>
                        </div>
                        <p>Visita nuestras redes sociales </p>
                        <div class="footer-social">
                            <ul>
                                <li>
                                    <a href="https://es-la.facebook.com/pages/category/Community-College/Cetmar-Alvarado-113216025395253/">
                                    <i class="bi bi-facebook"></i></a>
                                </li>

                                <li>
                                    <a href="https://www.pinterest.com/devitemsllc/">
                                        <i class="bi bi-youtube"></i></a>
                                </li>
                               
                                <li>
                                    <a href="https://twitter.com/devitemsllc">
                                    <i class="bi bi-twitter"></i>
                                </a></li>
                            </ul>    
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>Información</h3>
                        <ul>
                            <li><a href="#">Proceso de Admisión</a></li>
                            <li><a href="#">Calendario Académico</a></li>
                            <li><a href="event.html">Calendario Escolar</a></li>
                            <li><a href="#">Horarios</a></li>
                            <li><a href="#">TimeTable</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>Otros links</h3>
                        <ul>
                            <li><a href="course.html">Secretaria de Educación Pública</a></li>
                            <li><a href="about.html">UECyTM</a></li>
                            <li><a href="teacher.html">teachers &amp; faculty</a></li>
                            <li><a href="#">teams &amp; conditions</a></li>
                            <li><a href="event.html">Servicio Profesional Docente</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>Visitanos</h3>
                        <p>Km. 47 Carretera Federal Veracruz - Alvarado<br>Alvarado, Veracruz, México</p>
                        <p>297 97 3 07 98<br>297 97 3 07 99</p>
                        <p>info@cetmar01.edu.mx<br>www.cetmar01.edu.mx</p>
                    </div>
                </div>
            </div>
        </div>
    </div>   


    
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>Copyright © <a href="https://cetmar01.edu.mx" target="_blank">CETMar Alvarado</a> 2019. Todos los derechos reservados.</p>
                </div> 
            </div>
        </div>    
    </div>
</footer>
<!-- Footer End -->